/*header*/
.header {
  width: 1040px;
  margin: 0 auto;
  padding-top: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .logo {
  height: 40px;
  float: left;
}
.header .search-container {
  border: 1px solid #ee4f5c;
  float: left;
  width: 360px;
  border-radius: 5px;
  box-sizing: border-box;
}
.header .search-container .search {
  float: left;
  width: 320px;
  border: none;
  line-height: 38px;
  text-indent: 24px;
  font-size: 14px;
  border-radius: 5px;
  color: #999;
}
.header .search-container .search-btn {
  float: left;
  width: 38px;
  height: 38px;
  cursor: pointer;
}
.header .login-container {
  font-size: 14px;
  line-height: 40px;
}
.header .login-container a {
  color: #666;
  padding: 0 20px;
}

/*nav*/
.nav {
  width: 1040px;
  border-bottom: 1px solid #ccc;
  margin: 29px auto 20px;
  overflow: hidden;
  line-height: 47px;
}
.nav a {
  padding: 13px 40px 11px;
  font-size: 18px;
  color: #666;
}
.nav .nav-choose {
  color: #ee4f5c;
  border-bottom: 2px solid #ee4f5c;
}

/*banner*/
.banner {
  width: 1040px;
  margin: 0 auto;
  position: relative;
}
.banner .slide {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  height: 375px;
}
.banner .slide ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner .slide ul li {
  list-style: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.banner .slide ul li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.banner .slide .dot {
  position: absolute;
  right: 50px;
  bottom: 15px;
  z-index: 5;
  font-size: 0;
}
.banner .slide .dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: #ee4f5c;
}
.banner .slide .dot .cur {
  background-color: #fff;
}
.banner .slide:after {
  content: '';
  display: block;
  width: 100%;
  padding-top: 50%;
}
.banner .slide-title {
  width: 1040px;
  height: 40px;
  background: rgba(51, 51, 51, 0.46);
  position: absolute;
  bottom: 0;
}
.banner .slide-title .slideTitle {
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-indent: 20px;
}

/*content*/
.content-container {
  width: 1040px;
  margin: 35px auto 0;
}
.content-container .content-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #ee4f5c;
  padding: 15px 0;
}
.content-container .content-title .contentTitle {
  font-size: 24px;
  color: #ee4f5c;
  font-weight: bold;
}
.content-container .content-title .content-nav {
  color: #666;
  font-size: 18px;
  margin-top: 6px;
}
.content-container .content-title .content-nav span {
  float: left;
  padding: 0 15px;
  cursor: pointer;
  border-right: 1px solid #ccc;
}
.content-container .content-title .content-nav .content-nav-choose {
  color: #ee4f5c;
}
.content-container .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-container .content .bookModule {
  width: 130px;
  height: 206px;
  margin-right: 51px;
  margin-top: 22px;
}
.content-container .content .bookModule:nth-child(6) {
  margin-right: 0;
}
.content-container .content .bookModule .bookPic {
  width: 110px;
  border: 1px solid #ffdadd;
  padding: 10px;
  box-shadow: 0px 5px 10px #ffdadd;
}
.content-container .content .bookModule .bookName {
  width: 130px;
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-container .content .content-leftWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 313px;
  margin-top: 30px;
  margin-bottom: 50px;
  margin-right: 50px;
}
.content-container .content .content-leftWrap .content-leftWrap-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.content-container .content .content-leftWrap .content-leftWrap-t .showBigPic {
  width: 213px;
  height: 285px;
  padding: 11px 8px;
  border: 1px solid #ffdadd;
  box-shadow: 0px 5px 10px #ffdadd;
}
.content-container .content .content-leftWrap .content-leftWrap-t .littlePics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-container .content .content-leftWrap .content-leftWrap-t .littlePics img {
  width: 62px;
  height: 83px;
  padding: 4px;
  border: 1px solid #ffdadd;
  box-shadow: 0px 5px 10px #ffdadd;
  cursor: pointer;
  opacity: 0.5;
}
.content-container .content .content-leftWrap .content-leftWrap-t .littlePics .bookChoose {
  opacity: 1;
  border-color: #ee4f5c;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.content-container .content .content-leftWrap .content-leftWrap-b .title {
  text-align: center;
  font-size: 17px;
  color: #333;
  line-height: 32px;
  font-weight: bold;
}
.content-container .content .content-leftWrap .content-leftWrap-b .article {
  color: #666;
  text-indent: 2rem;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.content-container .content .content-rightWrap {
  margin-top: 30px;
  margin-bottom: 50px;
  width: 677px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-container .content .content-rightWrap .content-rightWrap-t {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 173px;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 314px;
  height: 173px;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookPic {
  width: 110px;
  border: 1px solid #ffdadd;
  padding: 10px;
  box-shadow: 0px 5px 10px #ffdadd;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookName {
  width: 130px;
  font-size: 16px;
  color: #333;
  margin-top: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookDetail {
  margin-left: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookDetail .title {
  color: #333;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: -25px;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookDetail .article {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  color: #808080;
  font-size: 14px;
  line-height: 1.5rem;
}
.content-container .content .content-rightWrap .content-rightWrap-t .picAndArticle .bookDetail .readNow {
  font-size: 14px;
  color: #ff464e;
}
.content-container .content .content-rightWrap .content-rightWrap-b .bigTitle {
  text-align: center;
  color: #ee4f5c;
  font-size: 23px;
  font-weight: bold;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap .titleContainer {
  width: 311px;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap .titleContainer p {
  line-height: 1.8rem;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap .titleContainer p span {
  margin-right: 5px;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap .titleContainer p span a {
  color: #666;
}
.content-container .content .content-rightWrap .content-rightWrap-b .titleWrap .titleContainer p a {
  color: #333;
}
.content-container .content .rank-container {
  margin-top: 30px;
}
.content-container .content .rank-container .rankList {
  width: 313px;
}
.content-container .content .rank-container .rankList .title {
  font-size: 18px;
  color: #333;
  margin-bottom: 4px;
}
.content-container .content .rank-container .rankList .rank {
  line-height: 50px;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-container .content .rank-container .rankList .rank span {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  margin-top: 16px;
  margin-right: 10px;
}
.content-container .content .rank-container .rankList .rank:nth-child(2) span {
  background: #ff464e;
  color: #fff;
}
.content-container .content .rank-container .rankList .rank:nth-child(3) span {
  background: #e67225;
  color: #fff;
}
.content-container .content .rank-container .rankList .rank:nth-child(4) span {
  background: #e6bf25;
  color: #fff;
}
.content-container .content .rank-container .rankList .rank a {
  color: #333;
  font-size: 16px;
}
.content-container .content .update-listWrap {
  width: 100%;
}
.content-container .content .update-listWrap .titleContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-top: 30px;
}
.content-container .content .update-listWrap .titleContainer .title {
  font-size: 18px;
  color: #333;
}
.content-container .content .update-listWrap .update-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  border-bottom: 1px solid #ccc;
  line-height: 50px;
}
.content-container .content .update-listWrap .update-list .category {
  width: 130px;
  color: #666;
}
.content-container .content .update-listWrap .update-list .bookname {
  width: 520px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.content-container .content .update-listWrap .update-list .bookname .name {
  color: #333;
  margin-right: 20px;
}
.content-container .content .update-listWrap .update-list .bookname .section {
  color: #666;
  margin-right: 10px;
  font-size: 14px;
}
.content-container .content .update-listWrap .update-list .bookname .article {
  color: #666;
  font-size: 14px;
}
.content-container .content .update-listWrap .update-list .author {
  width: 130px;
  color: #666;
}
.content-container .content .update-listWrap .update-list .update {
  width: 136px;
  color: #666;
}

/*footer*/
.footer {
  width: 100%;
  height: 180px;
  background: #3e3d43;
  margin: 50px auto 0;
  text-align: center;
  color: #747376;
}
.footer .footerNav {
  padding-top: 40px;
  padding-bottom: 10px;
  overflow: hidden;
}
.footer .footerNav a {
  color: #fff;
  padding: 0 24px;
  font-size: 16px;
}
.footer .footerNav a:nth-child(2) {
  border-left: 1px solid #78787c;
  border-right: 1px solid #78787c;
}
.footer .footerNav a:hover {
  color: #ee4f5c;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.footer p {
  line-height: 30px;
  font-size: 14px;
}
