.content-container {
    width: 1040px;
    //    border: 1px solid #ccc;
    margin: 35px auto 0;
    .content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        //热门推荐
        //大家爱看
        //排行榜
        @import "../modules/rankList";
        //最近更新
    }

}
