.nav{
    width: 1040px;
    border: 1px solid #ccc;
    margin: 29px auto 20px;
    overflow: hidden;
    line-height: 47px;
    a{
        padding: 13px 40px;
        font-size: $fontSize+4;
        color: $baseWordCol;
    }
    .nav-choose{
        color: $titleCol;
        border-bottom: 2px solid $titleCol;
    }
}
