.bookPic {
    width: 110px;
    border: 1px solid #ffdadd;
    padding: 10px;
    box-shadow: 0px 3px 10px #ffdadd;
}

.bookName {
    width: 130px;
    font-size: $fontSize+2;
    color: #333;
    margin-top: 15px;
    @include online;
    &:hover {
        color: $titleCol;
        @include ani();
    }
}
