//基本字号
$fontSize:14px;
//基础红
$titleCol:#ee4f5c;
//基本字色
$baseWordCol:#666;
// 一行文字超出显示省略号
@mixin online() {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

//段落超出几行显示省略号
@mixin onparagraph($num:4) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $num;
    -webkit-box-orient: vertical;
}

// 链接动画
@mixin ani($time:0.25s) {
    -webkit-transition: all $time ease-in-out;
    transition: all $time ease-in-out;
}
//登录界面样式
.login_cover{
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);


}
.no{
    display: none!important;
}
.box .menu ul li a{
    width:100%;
    height:100%;
    display: block;
}
.box .logo .logoname{
    width:auto;
    height:30px!important;
    background: #fff;
}

.login_cover .login_con{
    width:580px;
    height:350px;
    display: block;
    margin:0 auto;
    /*margin-top:15%;*/
    background: #fff;
    border-radius: 10px;
    padding-top:50px;
    position: relative;
}
.login_cover .login_con .lg{
    width:auto;
    height:30px;
    display: block;
    margin:0 auto;
    background: #fff;
}
.login_cover .login_con .choice{
    line-height: 50px;
    font-size: 14px;
    color:#666;
    margin-top:30px;
    text-align: center;

}
.login_cover .login_con .choice span{
    width:90px;
    height:1px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}
.login_cover .login_con .choice span.s1{
    margin-right:30px;
}
.login_cover .login_con .choice span.s2{
    margin-left:30px;
}

.login_cover .login_con ul{
    width:410px;
    height:auto;
    overflow: hidden;
    display: block;
    margin:0 auto;
    margin-top:30px;
}

.login_cover .login_con ul li{
    float:left;
    width:83px;
    height:auto;
    overflow: hidden;
    background: #fff;
    margin-left:25px;
    margin-right:25px;
}

.login_cover .login_con ul li img{
    width:80px;
    height:auto;
    border-radius: 50%;
    display: block;
    background: #fff;
}
.login_cover .login_con ul li p{
    line-height: 35px;
    font-size: 14px;
    text-align: center;
    color:#EE4957;
}
.login_cover .login_con .cha{
    position: absolute;
    z-index: 100;
    top:15px;
    right:15px;
    width:20px;
    height:20px;
    background: #fff;
    cursor: pointer;
}
